body {
  font-family: Arial, sans-serif;
  background-color: #aaa9a9;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  margin-top: 2rem;
  padding: 20px;
  background-color: #abbbb4;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.form {
  display: flex;
  margin-bottom: 20px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #038c75;
  color: #fff;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}

button:hover {
  background-color: #497062;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 15px;
  border-bottom: 1px solid #ccc;
  cursor: pointer;
}

li:hover {
  background-color: #93aea1;
}

input[type="checkbox"] {
  margin-right: 10px;
}

.delete {
  padding: 5px 10px;
  font-size: 14px;
  background-color: #b11928;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  float: right;
}

.delete:hover {
  background-color: #834047;
}

.error {
  color: rgb(153, 13, 13);
  font-size: 14px;
  background-color: rgb(255, 0, 0, 0.1);
  padding: 10px;
  display: none;
}